!!!
%html
  %head
    %title= @title
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
      %link{:href => "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css", :rel => "stylesheet"}/
      %script{:src => "http://code.jquery.com/jquery-1.7.1.min.js"}
      %script{:src => "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"}

  %body

    %div{"data-role" => "page", "data-dom-cache" => "true"}
      
      %div{"data-role" => "header", "data-position" => "inline"}
        %a{"data-icon" => "back", "data-rel" => "back", "data-theme" => "b"} Back
        %h1 Game Search

      %div{"data-role" => "content"}
        %p
        %form{:action => "/searchresults", :method => "post"}
          %label{:for => "basic"} Game Search:
          %input#basic{"data-mini" => "false", :name => "search", :type => "text"}/
          %input{"data-role" => "button", :value => "Search", :type => "submit", "data-theme" => "b"}
